/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 *= require fancybox
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.css";

#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1031;
    background: rgba(135,216,211,0.85);
    p {
        padding: 2.75rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
}

.round-image-thumb {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

/*@mixin box-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

$red: #DB6161;

body {
    font-family: "Proxima Nova";
    font-weight: 100;
}*/

body {
    background: #FFFFFF;
    padding-top: 90px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

/*.wrapper {
    width: 80%;
    margin: 0 auto;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}*/

nav {
    height: 80px;
    .container {
        height: 80px;
    }
    .navbar-brand {
        height: 80px;
        a {
            color: #FFFFFF;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.navbar-default {
    background: #04163F;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-form {
    margin-bottom: 0;
    .form-control {
        width: 80%;
        color: white;
        background-color: #04163F;
    }
}

.navbar-left {
    width: 60%;
    height: 80px;
    margin: 0;
    padding: 20px;
}

.navbar-right {
    li > a{
       height: 40px;
       padding: 10px;
    }
    height: 80px;
    margin: 0;
    padding: 20px;
}

/*.button {
    border: 1px solid #9B9B9B;
    padding: .7rem 1.25rem;
    border-radius: .3rem;
    outline: none;
    background: white;
    color: #9B9B9B;
}

header {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #E4E4E4;
    #logo {
        float: left;
        font-size: 1.75rem;
        a {
            color: #333233;
            text-decoration: none;
            &:hover {
                color: #50A7C7;
            }
        }
    }
    nav {
        float: right;
        a {
            margin-left: 1.5rem;
            line-height: 2;
            color: #9B9B9B;
            text-decoration: none;
            &:hover {
                color: #50A7C7;
            }
        }
    }
}*/

@media screen and (min-width: 750px) {
    .posts {
        margin: 0 auto;
        width: 100%;

        .box {
            margin: 7px;
            width:336px;
            height: auto;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.54);
            border-radius: 7px;
            /*text-align: center;*/
            img.sale {
                max-width: 100%;
                height: auto;
                border-radius: 7px 7px 0px 0px;
            }
            h2 {
                font-size: 22px;
                margin: 0;
                padding: 25px 10px;
                a {
                    color: #474747;
                }
            }
            .saletype {
                /*border: 1px solid gold;*/
                margin: 0;
                width: 100%;
                height: 150px;
                position: relative;
                .price {
                    /*border: 1px solid red;*/
                    font-size: 20px;
                    padding-left: 15px;
                    margin: 0;
                    height: 30px;
                    text-align: left;
                    background: white;
                }
                .description {
                    /*border: 1px solid red;*/
                    height: 50px;
                    padding: 5px 15px 0 15px;
                    background: #04163F;
                    .title {
                        /*border: 1px solid yellow;*/
                        color: white;
                        font-size: 15px;
                        text-align: left;
                        margin: 0;
                        max-width: 80%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        float: left;
                    }
                    .like {
                        /*border: 1px solid yellow;*/
                        color: white;
                        font-size: 15px;
                        margin: 0;
                        max-width: 20%;
                        float: right;
                    }
                }
                .author {
                    /*border: 1px solid red;*/
                    position: relative;
                    color: white;
                    text-align: left;
                    margin: 0;
                    height: 70px;
                    padding: 10px 0 10px 15px;
                    background: #04163F;
                    border-radius: 0px 0px 7px 7px;
                    .author_thumb {
                        width: 50px;
                        height: 50px;
                        float: left;
                        margin-right: 10px;
                    }
                    .author_name {
                        padding-top: 10px;
                        color: white;
                        height: 25px;
                        line-height: 10px;
                        font-size: 15px;
                        font-weight: bold;
                        a {
                            color: white;
                        }
                    }
                    .author_info {
                        color: white;
                        height: 25px;
                        font-size: 12px;
                    }
                }
            }

            .storytype {
                /*border: 1px solid blue;*/
                margin: 0;
                width: 100%;
                height: auto;
                position: relative;
                img.story {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto;
                    border-radius: 7px 7px 7px 7px;
                }
                .description {
                    /*border: 1px solid red;*/
                    width: 100%;
                    height: 30%;
                    padding: 5px 15px 0 15px;
                    z-index: 100;
                    bottom: 70px;
                    left: 0;
                    position: absolute;
                    overflow: hidden;
                    background: rgba(255, 255, 255, 0.70);
                    .title {
                        /*border: 1px solid green;*/
                        color: black;
                        font-size: 20px;
                        font-weight: bold;
                        text-align: left;
                        margin: 0;
                        max-width: 80%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        float: left;
                    }
                    .like {
                        /*border: 1px solid green;*/
                        color: black;
                        font-size: 15px;
                        margin: 0;
                        max-width: 20%;
                        float: right;
                    }
                    .content {
                        /*border: 1px solid green;*/
                        width: 100%;
                        height: 100%;
                        max-height: 75%;
                        min-height: 30%;
                        position: absolute;
                        padding: 15px 15px 0 15px;
                        left: 0;
                        top: 30px;
                        color: black;
                        -webkit-column-width: 100%;
                        column-width: 100%;
                        /*background: rgba(0, 255, 0, 0.70);*/
                        * {
                            color: black;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            margin: 0;
                            font-size: 13px;
                            line-height: 13px !important;
                        }
                        img {
                            display: none;
                        }
                    }
                }
                .author {
                    /*border: 1px solid red;*/
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    color: white;
                    text-align: left;
                    margin: 0;
                    width: 100%;
                    height: 70px;
                    padding: 10px 0 10px 15px;
                    background: rgba(255, 255, 255, 0.70);
                    border-radius: 0px 0px 7px 7px;
                    .author_thumb {
                        width: 50px;
                        height: 50px;
                        float: left;
                        margin-right: 10px;
                    }
                    .author_name {
                        padding-top: 10px;
                        color: black;
                        height: 25px;
                        line-height: 10px;
                        font-size: 15px;
                        font-weight: bold;
                        a {
                            color: black;
                        }
                    }
                    .author_info {
                        color: black;
                        height: 25px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    #posts {
        margin: 0 auto;
        width: 100%;

        .box {
            margin: 7px;
            width:158px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
            border-radius: 15px;
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 15px 15px 0px 0px;
            }
            h2 {
                font-size: 22px;
                margin: 0;
                padding: 25px 10px;
                a {
                    color: #474747;
                }
            }
            .user {
                font-size: 15px;
                border-top: 1px solid #EAEAEA;
                padding: 15px;
                margin: 0;
            }
        }
    }
}

#edit_page {
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}

#post_show {
    width: 1050px;
    margin: 0;

    .post_heading {
        /*border: 1px solid red;*/
        border-bottom: 3px solid #00FFDA;
        padding: 10px;
        height: 120px;
        color: white;
        background: #303030;
        position: relative;
        .like {
            width: 100%;
            color: white;
            font-size: 15px;
            margin: 0;
            text-align: right;
        }
        .title {
            /*border: 1px solid red;*/
            width: 80%;
            height: 70px;
            padding: 20px 0 0 20px;
            font-size: 30px;
            font-weight: bold;
            float: left;
        }
        .author {
            /*border: 1px solid red;*/
            color: white;
            text-align: left;
            margin: 0;
            width: 20%;
            height: 70px;
            padding: 10px 0 10px 15px;
            float: right;
            .author_thumb {
                width: 50px;
                height: 50px;
                float: left;
                margin-right: 10px;
            }
            .author_name {
                padding-top: 10px;
                height: 25px;
                line-height: 10px;
                font-size: 15px;
                font-weight: bold;
                a {
                    color: white;
                }
            }
            .author_info {
                height: 25px;
                font-size: 12px;
            }
        }
    }
    
    .post_body {
        /*border: 1px solid red;*/
        padding: 35px;
        h1 {
            margin: 0 0 10px 0;
        }
        .description {
            /*color: #868686;*/
            line-height: 1.75;
            margin: 0;
        }
    }

    .post_tag {
        /*border: 1px solid red;*/
        padding: 10px 35px 10px 35px;
        p {
            margin: 0;
        }
    }

    .post_footer {
        /*border: 1px solid red;*/
        padding: 20px 35px;
    }

    .post_comments {
        /*border: 1px solid red;*/
        .comments {
          border:1px solid #000000;
          border-radius: 5px;
          margin:1em 0;
          padding:1em;
          h2 {
            margin:0 0 .5em;
          }
          ul {
            padding-left: 1.5em;
            li {
              margin-bottom: .5em
            }
          }
        }
    }
    .releated_posts {
        /*border: 1px solid red;*/
        /*border:1px solid #000000;
        border-radius: 5px;
        margin-bottom: 20px;*/
        h2 {
            margin: 20;
            padding: 10;
            padding-left: 25px;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

a.tag {
  border:1px solid #eaeaea;
  border-radius:3px;
  background-color: #f4f4f4;
  padding:.1em .2em;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #265484;
    border:1px solid #265484;
  }
}

textarea {
    min-height: 20px;
}
/*
#ingredients, #directions {
    background: white;
    @include box-shadow;
    min-height: 360px;
    border-radius: 5px;
    padding: 2em 8%;
}

#ingredients, #directions {
    margin-bottom: 50px;
    ul, ol {
        padding-left: 18px;
        li {
            padding: 1em 0;
            border-bottom: 1px solid #EAEAEA;
        }
    }
}

.form-inline {
    margin-top: 15px;
}
.form-input {
    width: 65% !important;
    float: left;
}
.form-button {
    float: left;
    width: 30% !important;
    margin-left: 5%;
}
.add-button {
    margin-top: 25px;
}*/

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 1.5s;
     -moz-transition-duration: 1.5s;
      -ms-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}