/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.css";

@charset "utf-8";
@font-face {
    font-family: ‘Nanum Barun Gothic’;
    font-style: normal;
    font-weight: 400;
    src: local(‘Nanum Barun Gothic Regular’), local(‘Nanum Barun Gothic-Regular’), local(‘NanumBarunGothic Regular’);
    src: url(“/assests/NanumBarunGothic.eot”);
    src: url(“/assests/NanumBarunGothic.eot?#iefix”) format(‘embedded-opentype’),
    url(“/assests/NanumBarunGothic.woff”) format(‘woff’),
    url(“/assests/NanumBarunGothic.ttf”) format(‘truetype’),
    url(“/assests/NanumBarunGothic.svg”) format(‘svg’);
}

@font-face {
    font-family: ‘Nanum Barun Gothic’ ;
    font-style: normal;
    font-weight: 700;
    src: local(‘Nanum Barun Gothic Bold’), local(‘Nanum Barun Gothic-Bold’), local(‘NanumBarunGothic Bold’);
    src: url(“/assests/NanumBarunGothicBold.eot”);
    src: url(“/assests/NanumBarunGothicBold.eot?#iefix”) format(‘embedded-opentype’),
    url(“/assests/NanumBarunGothicBold.woff”) format(‘woff’),
    url(“/assests/NanumBarunGothicBold.ttf”) format(‘truetype’),
    url(“/assests/NanumBarunGothicBold.svg”) format(‘svg’);
}

*
{
    font-family: ‘Nanum Barun Gothic’,sans-serif !important;
}

.glyphicon{
    font-family: 'Glyphicons Halflings' !important;
}

.overflowhidden {
    padding-top: 0;
    margin: 0 !important;
}

#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1031;
    background: rgba(135,216,211,0.85);
    p {
        padding: 2.75rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
}

.round-image-thumb {
    background-color: white;
    border: 3px solid white;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.round-image-sale-thumb {
    background-color: white;
    border: 2px solid #04163F;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    height: 70px;
    width: 70px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

@mixin story-box-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

@mixin sale-box-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
}

body {
    background: #FFFFFF;
    padding-top: 60px;
    width: 80%;
    margin: auto !important;
}

.sale_body {
    width: 80%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

nav {
    height: 54px;
    .navbar-brand {
        padding: 7px;
        height: 54px;
        float: none;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.navbar-header {
    float: left;
    text-align: right;
    width: 60%;
}

.navbar-default {
    background: #04163F;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-form {
    margin-bottom: 0;
}

.navbar-left {
    width: auto;
    margin-right: 320px;
    float: none !important;
    height: 54px;
    padding: 20px 0 0 60px;
}

.navbar-right {
    span > a{
        color: white;
        text-decoration: none;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span > a > img{
        bottom: 20px;
    }
    height: 54px;
    padding: 3px;
    .non-login {
        padding: 15px !important;
    }
}

.description_header {
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 40px;
    h2 {
        font-size: 50px;
        font-weight: bold;
        small {
            font-weight: bold;
            color: black;
        }
    }
}

/*.button {
    border: 1px solid #9B9B9B;
    padding: .7rem 1.25rem;
    border-radius: .3rem;
    outline: none;
    background: white;
    color: #9B9B9B;
}

header {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #E4E4E4;
    #logo {
        float: left;
        font-size: 1.75rem;
        a {
            color: #333233;
            text-decoration: none;
            &:hover {
                color: #50A7C7;
            }
        }
    }
    nav {
        float: right;
        a {
            margin-left: 1.5rem;
            line-height: 2;
            color: #9B9B9B;
            text-decoration: none;
            &:hover {
                color: #50A7C7;
            }
        }
    }
}*/

@media screen and (min-width: 760px){
    .row{
        margin-bottom: 50px;
    }
    .posts{
        a {
            text-decoration: none;
            color: black;
        }
        .box_wrapper{
            max-width: 100%;
            background: #EFEFEF;
            border-radius : 5px;
            overflow: hidden;
            /*border: 2px solid red;*/
            .row{
                margin: 0;
            }
            .col-md-6{
                padding: 1.5px;
            }
        }
        .image_wrapper{
            width: 100%;
            img {
                width: 100%;
            }
            /*&:hover {
                -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;
                -o-transition: all .3s ease-out;
                transition: all .3s ease-out;
                transform: scale(1.075);
            }*/
        }
        .description {
            /*border: 1px solid red;*/
            height: 50px;
            padding: 5px 15px 0 15px;
            background: white;
            position: relative;
            .title {
                /*border: 1px solid yellow;*/
                font-size: 17px;
                text-align: left;
                line-height: 18px;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .source_url {
                /*border: 1px solid yellow;*/
                color: rgb(168, 168, 168);
                font-size: 15px;
                text-align: left;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .author {
            /*border: 1px solid red;*/
            position: relative;
            text-align: left;
            margin: 0;
            height: 90px;
            padding: 10px 0 10px 20px;
            border-radius: 0px 0px 7px 7px;
            .author_thumb {
                width: 70px;
                height: 70px;
                float: left;
                margin-right: 10px;
            }
            .author_name {
                padding-top: 20px;
                height: 35px;
                line-height: 10px;
                font-size: 25px;
                /*font-weight: bold;*/
            }
            .author_info {
                color: rgb(168, 168, 168);
                padding-top: 5px;
                height: 35px;
                font-size: 18px;
            }
        }
    }
    .post_story {
        background: white;
        border-radius: 5px;
        margin-bottom: 40px;
        @include story-box-shadow;
        .box_wrapper {
            max-width: 100%;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
        }
        .image_wrapper{
            &:hover {
                -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;
                -o-transition: all .3s ease-out;
                transition: all .3s ease-out;
                transform: scale(1.075);
            }
            h2 {
                width: 100%;
                height: 100%;
                position: absolute;
                padding-top: 25%;
                /*padding-bottom: 25%;*/
                margin: 0;
                font-weight: bold;
                background-color: rgba(0,0,0,0.50);
                top: 0;
                left: 0;
                text-align: center;
                color: white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    text-decoration: none;
                    word-wrap: break-word;
                }
            }
            .divide {
                position: absolute;
                width: 80%;
                height: 48%;
                padding-bottom: 25%;
                margin-left: 10%;
                bottom: 0;
                left: 0;
                border-top: 3px solid white;
            }
            img {
                width: 100%;
            }
        }
    }

    .post_sale {
        background: white;
        border-radius: 5px;
        margin-bottom: 40px;
        @include sale-box-shadow;
        .box_wrapper {
            max-width: 100%;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
        }
        img {
            width: 100%;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
            &:hover {
                transform: scale(1.075);
            }
        }
        .description {
            /*border: 1px solid red;*/
            height: 50px;
            padding: 5px 15px 0 15px;
            /*background: #04163F;*/
            .title {
                /*border: 1px solid yellow;*/
                /*color: white;*/
                font-size: 15px;
                text-align: left;
                margin: 0;
                max-width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                float: left;
            }
            .like {
                /*border: 1px solid yellow;*/
                /*color: white;*/
                font-size: 10px;
                margin: 0;
                max-width: 20%;
                float: right;
            }
        }
        .divide {
            margin: 0 15px 0 15px;
            border-bottom: 1px solid rgb(163, 163, 163);
        }
    }
}

@media screen and (max-width: 760px){
    .post_story {
        background: white;
        border-radius: 5px;
        margin-bottom: 40px;
        @include story-box-shadow;
        .box_wrapper {
            max-width: 100%;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
        }
        .image_wrapper{
            &:hover {
                -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;
                -o-transition: all .3s ease-out;
                transition: all .3s ease-out;
                transform: scale(1.075);
            }
            h2 {
                width: 100%;
                height: 100%;
                position: absolute;
                padding-top: 25%;
                /*padding-bottom: 25%;*/
                margin: 0;
                font-weight: bold;
                background-color: rgba(0,0,0,0.50);
                top: 0;
                left: 0;
                text-align: center;
                color: white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    text-decoration: none;
                    word-wrap: break-word;
                }
            }
            .divide {
                position: absolute;
                width: 80%;
                height: 48%;
                padding-bottom: 25%;
                margin-left: 10%;
                bottom: 0;
                left: 0;
                border-top: 3px solid white;
            }
            img {
                width: 100%;
            }
        }
    }

    .post_sale {
        background: white;
        border-radius: 5px;
        margin-bottom: 40px;
        @include sale-box-shadow;
        .box_wrapper {
            max-width: 100%;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
        }
        img {
            width: 100%;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
            &:hover {
                transform: scale(1.075);
            }
        }
        .description {
            /*border: 1px solid red;*/
            height: 50px;
            padding: 5px 15px 0 15px;
            /*background: #04163F;*/
            .title {
                /*border: 1px solid yellow;*/
                /*color: white;*/
                font-size: 15px;
                text-align: left;
                margin: 0;
                max-width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                float: left;
            }
            .like {
                /*border: 1px solid yellow;*/
                /*color: white;*/
                font-size: 10px;
                margin: 0;
                max-width: 20%;
                float: right;
            }
        }
        .divide {
            margin: 0 15px 0 15px;
            border-bottom: 1px solid rgb(163, 163, 163);
        }
        .author {
            /*border: 1px solid red;*/
            position: relative;
            text-align: left;
            margin: 0;
            /*height: 50px;*/
            padding: 3px 0 4px 10px;
            border-radius: 0px 0px 7px 7px;
            .author_thumb {
                width: 50px;
                height: 50px;
                float: left;
                margin-right: 10px;
            }
            .author_name {
                padding-top: 10px;
                /*color: white;*/
                height: 25px;
                line-height: 10px;
                font-size: 15px;
                font-weight: bold;
                a {
                    color: black;
                }
            }
            .author_info {
                color: rgb(168, 168, 168);
                height: 25px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (min-width: 760px){
    .row{
        margin-bottom: 40px;
    }
    .brand-story{
        a {
            text-decoration: none;
            color: black;
        }
        .box_wrapper{
            max-width: 100%;
            border-radius : 5px;
            overflow: hidden;
            /*border: 2px solid red;*/
            .row{
                margin: 0;
            }
            .col-md-6{
                padding: 1.5px;
            }
        }
        .image_wrapper{
            width: 100%;
            img {
                width: 100%;
            }
        }
        .description {
            /*border: 1px solid red;*/
            height: 40px;
            padding: 5px 15px;
            background: white;
            position: relative;
            .title {
                /*border: 1px solid yellow;*/
                font-size: 25px;
                text-align: left;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .links {
            height: 50px;
            position: relative;
            .story_button {
                width: 49%;
                height: 50px;
                border-radius: 5px;
                background-color: #04163F;
                float: left;
                text-align: center;
                font-size: 20px;
                color: white;
            }
            .sale_button {
                width: 49%;
                height: 50px;
                border-radius: 5px;
                background-color: #04163F;
                float: right;
                text-align: center;
                font-size: 20px;
                color: white;
            }
        }
    }
}

#edit_page {
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}

.post_show {
    width: 1050px;
    margin: 0;

    .sale_type {
        .post_heading {
            a:hover {
                background-color: yellow;
                text-decoration: none;
            }

            /*border: 1px solid red;*/
            padding: 10px 10px 10px 20px;
            width: 100%;
            height: 120px;
            color: #00FFDA;
            background: #04163F;
            position: fixed;
            z-index: 2000;
            .buy_btn {
                /*border: 1px solid red;*/
                float: left;
                background-color: #00FFDA;
                color: #04163F;
                border-radius: 50px;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                height: 100px;
                width: 100px;
                overflow: hidden;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                line-height: 100px;
            }
            .description {
                float: left;
                width: 50%;
                .title {
                    /*border: 1px solid red;*/
                    padding: 25px 0 0 20px;
                    font-size: 22px;
                    /*font-weight: bold;*/
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .price {
                    /*border: 1px solid red;*/
                    font-size: 30px;
                    padding: 0 0 0 20px;
                    text-align: left;
                }
            }
            .heading_right {
                float: right;
                .like {
                    /*border: 1px solid red;*/
                    color: white;
                    font-size: 15px;
                    margin: 0;
                    text-align: right;
                }
                .author {
                    /*border: 1px solid red;*/
                    color: white;
                    text-align: left;
                    margin: 0;
                    width: auto;
                    min-width: 200px;
                    height: 70px;
                    padding: 10px 0 10px 15px;
                    float: right;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .author_thumb {
                        width: 50px;
                        height: 50px;
                        float: left;
                        margin-right: 10px;
                    }
                    .author_name {
                        padding-top: 10px;
                        height: 25px;
                        line-height: 10px;
                        font-size: 15px;
                        font-weight: bold;
                        a {
                            color: white;
                        }
                    }
                    .author_info {
                        height: 25px;
                        font-size: 12px;
                    }
                }
            }
        }
        .arrow-down {
            width: 0;
            height: 0;
            margin-left: 50px;

            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #04163F;
        }
    }
    .story_type {
        .post_heading {
            /*border: 1px solid red;*/
            border-bottom: 3px solid #00FFDA;
            padding: 10px;
            width: 100%;
            height: 120px;
            color: white;
            background: #303030;
            position: fixed;
            z-index: 2000;
            .like {
                width: 100%;
                color: white;
                font-size: 15px;
                margin: 0;
                text-align: right;
            }
            .title {
                /*border: 1px solid red;*/
                width: 70%;
                height: 70px;
                padding: 20px 0 0 20px;
                font-size: 30px;
                font-weight: bold;
                float: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .author {
                /*border: 1px solid red;*/
                color: white;
                text-align: left;
                margin: 0;
                width: auto;
                min-width: 200px;
                height: 70px;
                padding: 10px 0 10px 15px;
                float: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .author_thumb {
                    width: 50px;
                    height: 50px;
                    float: left;
                    margin-right: 10px;
                }
                .author_name {
                    padding-top: 10px;
                    height: 25px;
                    line-height: 10px;
                    font-size: 15px;
                    font-weight: bold;
                    a {
                        color: white;
                    }
                }
                .author_info {
                    height: 25px;
                    font-size: 12px;
                }
            }
        }
    }
    .post_body {
        /*border: 1px solid red;*/
        padding: 35px;
        padding-top: 120px;
        h1 {
            margin: 0 0 10px 0;
        }
        .description {
            /*color: #868686;*/
            line-height: 1.75;
            margin: 0;
        }
    }

    .post_tag {
        /*border: 1px solid red;*/
        padding: 10px 35px 10px 35px;
        p {
            margin: 0;
        }
    }

    .post_footer {
        /*border: 1px solid red;*/
        padding: 20px 35px;
    }

    .post_comments {
        /*border: 1px solid red;*/
        .comments {
          border:1px solid #000000;
          border-radius: 5px;
          margin:1em 0;
          padding:1em;
          h2 {
            margin:0 0 .5em;
          }
          ul {
            padding-left: 1.5em;
            li {
              margin-bottom: .5em
            }
          }
        }
    }
    .releated_posts {
        /*border: 1px solid red;*/
        /*border:1px solid #000000;
        border-radius: 5px;
        margin-bottom: 20px;*/
        h2 {
            margin: 20;
            padding: 10;
            padding-left: 25px;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

a.tag {
  border:1px solid #eaeaea;
  border-radius:3px;
  background-color: #f4f4f4;
  padding:.1em .2em;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #265484;
    border:1px solid #265484;
  }
}

textarea {
    min-height: 20px;
}